.gradle/
build/
bin/
.kotlin/

.idea/
.vscode/
*.iml

run-free/

allatori/

deps/
Citizens.jar
dtlTradersPlus-6.4.37.jar
GemsEconomy.jar
CoinsEngine.jar
PlayerPoints.jar

logs/
*.log

Thumbs.db
Desktop.ini
.DS_Store

*.jar
!gradlew.jar
